{% set actionData = {
    elementId: element.id,
    fieldId: field.id,
    slot: slot,
} %}

{% set customFields = [] %}
{% for field in leaf.fieldLayout.getCustomFields() %}
    {% if className(field) == 'markhuot\\igloo\\fields\\Slot' %}
        {% set customFields = customFields|merge([field]) %}
    {% endif %}
{% endfor %}

{# check if the element doing the render is the same element as from the URL, in which case we
   render the root element differently #}
{% set isRootElement = element.id == craft.app.requestedParams.elementId|default(false) %}
{% set isFirstColumn = slot == 'default' %}

<li data-uid="{{ leaf.slot.uid }}" class="{{ not isRootElement|default(false) and isFirstColumn ? 'tw-ml-8' : '' }}">
    <div class="tw-border tw-border-gray-200 tw-rounded" tabindex="0">
        <div class="tw-flex tw-justify-between tw-items-center tw-bg-gray-100 tw-p-2">
            <a href="{{ leaf.cpEditUrl }}" data-igloo-slideout="{{ leaf.cpEditUrl }}" class="tw-text-inherit">
                <span class="tw-text-xs tw-block tw-text-gray-500">{{ leaf.type.name == 'Default' ? leaf.section.name : leaf.type.name }}</span>
                <span class="tw-text-lg tw-font-bold tw-text-gray-800">{{ leaf }}</span>
            </a>
            <div class="tw-relative">
                <button class="tw-bg-gray-100 tw-rounded tw-w-6 tw-h-6 hover:tw-bg-white tw-transition-shadow tw-transition-transform hover:tw-shadow-lg hover:tw--translate-y-1 tw-text-gray-800" data-igloo-menu="menu-{{ leaf.slot.uid }}">
                    {% include "igloo/svg/more" %}
                </button>
                <ul class="tw-z-[100] tw-invisible tw-absolute tw-top-100 tw-right-0 tw-bg-white tw-shadow-lg tw-rounded tw-rounded-children -tw-translate-y-1 tw-transition-transform tw-transition-shadow tw-min-w-[250px]" data-igloo-menu="menu-{{ leaf.slot.uid }}">
                    <li>
                        <button href="#"
                                class="tw-block tw-w-full tw-text-left hover:tw-bg-blue-100 tw-focus:bg-gray-200 tw-py-2 tw-px-4"
                                data-igloo-slideout="{{ cpUrl('igloo/styles/' ~ leaf.id ~ '/' ~ field.id) }}"
                        >
                            Edit Styles&hellip;
                        </button>
                    </li>
                    {% if customFields|length == 1 %}
                        <li>
                            <button href="#"
                                    class="tw-block tw-w-full tw-text-left hover:tw-bg-blue-100 tw-focus:bg-gray-200 tw-py-2 tw-px-4"
                                    data-igloo-slideout="{{ cpUrl('igloo/slot/' ~ field.handle ~ '/edit/' ~ leaf.id) }}"
                            >
                               Configure Layout&hellip;
                            </button>
                        </li>
                    {% endif %}
                    <li class="tw-border-b tw-border-gray-200 tw-m-2"></li>
                    <li>
                        <button href="#"
                                class="tw-block tw-w-full tw-text-left hover:tw-bg-blue-100 tw-focus:bg-gray-200 tw-py-2 tw-px-4"
                                data-igloo-slideout="{{ cpUrl('igloo/content', actionData|merge({scope: leaf.slot.uid, position: 'beforebegin'})) }}"
                        >
                            Insert Content Before&hellip;
                        </button>
                    </li>
                    <li>
                        <button href="#"
                                class="tw-block tw-w-full tw-text-left hover:tw-bg-blue-100 tw-focus:bg-gray-200 tw-py-2 tw-px-4"
                                data-igloo-slideout="{{ cpUrl('igloo/content', actionData|merge({scope: leaf.slot.uid, position: 'afterend'})) }}"
                        >
                            Insert Content After&hellip;
                        </button>
                    </li>
                    <li class="tw-border-b tw-border-gray-200 tw-m-2"></li>
                    <li>
                        <button href="#"
                           class="tw-block tw-w-full tw-text-left hover:tw-bg-blue-100 tw-focus:bg-gray-200 tw-py-2 tw-px-4 tw-text-red-600"
                           data-igloo-action="igloo/content/detach"
                           data-igloo-action-data='{{ actionData|merge({elements: [leaf.slot.uid]})|json_encode }}'
                        >
                            Remove Component&hellip;
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="-tw-mr-[1px] -tw-mb-[1px]">
            {% for field in customFields %}
                {% if customFields|length > 1 %}
                    <p style="font-weight: bold; color: var(--medium-dark-text-color); margin-bottom: 5px;">{{ field.name }}</p>
                {% endif %}
                {{ field.getInputHtml(leaf.getFieldValue(field.handle), leaf, true)|raw }}
            {% endfor %}
        </div>
    </div>
</li>
