{% do view.registerAssetBundle("markhuot\\igloo\\fields\\SlotAssetBundle") %}

{% set config = craft.igloo.fieldConfig(field, element) %}
<div data-element="{{ element.id }}" data-field="{{ field.id }}" data-igloo-draggable-container class="tw-relative">
    {% set columnCount = config.columns|default(1) %}
    <div class="tw-grid" style="grid-template-columns: {{ config.columnWidths|default([])|map(w => "#{w*100}%")|join(' ') }}">
        {% for column in range(0, columnCount - 1) %}
            {% set slotName = column == 0 ? 'default' : 'column' ~ column %}
            <ul data-element="{{ element.id }}" data-slot="{{ slotName }}" class="tw-mt-4 tw-space-y-4">
                {% set tree = craft.igloo.components(element, field, slotName) %}
                {% for leaf in tree %}
                    {% include "igloo/fields/_leaf" with { element: element, field: field, slot: slotName, leaf: leaf, isRootSlot: isRootSlot|default(false) } only %}
                {% endfor %}

                {% if tree|length == 0 %}
                    <li class="tw-p-4 tw-pt-0">
                        {% set url = cpUrl('igloo/content', {
                            elementId: element.id,
                            fieldId: field.id,
                            slot: slotName,
                            scope: null,
                            position: 'beforeend',
                        }) %}
                        <a tabindex="0" href="{{ url }}"
                           class="tw-border tw-border-gray-300 tw-border-dashed tw-text-gray-900 tw-px-2 tw-py-1 tw-rounded tw-inline-block hover:tw-bg-blue-100"
                           data-igloo-slideout="{{ url }}"
                        >
                            + Content
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
    {% if config %}
        {% for column in range(0, columnCount - 2) %}
            <div class="tw-w-4 tw-h-full tw-absolute tw-top-0 tw-left-0 tw-group tw-cursor-ew-resize"
                 style="left: {{ config.columnWidths[column] * 100 }}%"
                 data-igloo-draggable
                 data-igloo-draggable-axis="x"
                 data-igloo-draggable-snap="0.3333"
                 data-igloo-action="{{ 'igloo/slot/store-column-sizing' }}"
                 data-igloo-action-body='{{ {element: element.id, field: field.id, dividerIndex: column}|json_encode }}'
            >
                <div class="tw-absolute tw-h-full tw-w-full tw-z-50" draggable="true"></div>
                <div class="tw-absolute tw-h-full tw-w-px tw-left-1/2 tw-bg-gray-200 group-hover:tw-w-[5px] group-hover:tw-bg-blue-400 tw-select-none"></div>
            </div>
        {% endfor %}
    {% endif %}
</div>
