{% do view.registerAssetBundle("markhuot\\igloo\\fields\\SlotAssetBundle") %}

{% set config = craft.igloo.fieldConfig(field, element) %}
<div data-element="{{ element.id }}" data-field="{{ field.id }}">
    <a href="{{ cpUrl('igloo/slot/' ~ field.handle ~ '/edit/' ~ element.id) }}" data-igloo-slideout>⚙</a>

    <div class="flex flex-gap-4">
        {% for column in range(0, (config.columns|default(1)) - 1) %}
            {% set slotName = column == 0 ? 'default' : 'column' ~ column %}
            <ul data-element="{{ element.id }}" data-slot="{{ slotName }}" class="space-y-4 width-full flex-grow">
                {% set tree = craft.igloo.components(element, field, slotName) %}
                {% for leaf in tree %}
                    {% include "igloo/fields/_leaf" with { element: element, field: field, slot: slotName, leaf: leaf } only %}
                {% endfor %}

                {% if tree|length == 0 %}
                    {% set url = cpUrl('igloo/content', {
                        elementId: element.id,
                        fieldId: field.id,
                        slot: slotName,
                        scope: null,
                        position: 'beforeend',
                    }) %}
                    <a href="{{ url }}"
                       class="border border-gray-300 border-dashed px-4 py-2 rounded inline-block"
                       data-igloo-slideout="{{ url }}"
                    >
                        + Content
                    </a>
                {% endif %}
            </ul>
        {% endfor %}
    </div>
</div>
