{% set actionData = {
    elementId: element.id,
    fieldHandle: field.handle,
} %}

<ul data-slot="{{ element.id }}:{{ field.handle }}">
    {% for leaf in tree %}
        {% include "igloo/fields/_leaf" with { leaf: leaf, actionData: actionData } only %}
    {% endfor %}
</ul>

{% set url = cpUrl('igloo/content', actionData|merge({append: 'foo'})) %}
<a href="{{ url }}" data-igloo-slideout="{{ url }}">+ Content</a>

{{ iglooResource('ts/igloo.ts') }}
