{{ hiddenInput('elementType', className(element)) }}
{{ hiddenInput('elementId', element.id) }}
{{ hiddenInput('fieldId', field.id) }}
{{ hiddenInput('slot', slot) }}
{{ hiddenInput('scope', scope) }}
{{ hiddenInput('position', position) }}
{% set sections = craft.app.sections.getAllSections() %}

<h2>New Content</h2>
<table>
    {% for section in sections %}
        {% for type in section.entryTypes %}
            <tr>
                <td>
                    <a href="#"
                       data-igloo-action="entries/create"
                       data-igloo-action-data='{{ {
                           siteId: craft.app.sites.currentSite.id,
                           section: section.handle,
                           iglooAction: 'createAndAttach',
                           iglooElement: element.id,
                           iglooField: field.id,
                           iglooSlot: slot,
                           iglooScope: scope,
                           iglooPosition: position,
                       }|json_encode }}'
                       data-igloo-action-query='{{ {
                            type: type.handle
                       }|json_encode }}'
                       data-igloo-slideout-action="replace"
                    >
                        {{ type.name == 'Default' ? section.name : type.name }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>

<h2>Existing Content</h2>

<table>
    {% for element in elements %}
        <tr>
            <td><input type="checkbox" name="elements[]" value="{{ element.id }}" /></td>
            <td>{{ element.title }}</td>
        </tr>
    {% endfor %}
</table>
