{{ hiddenInput('elementType', elementType) }}
{{ hiddenInput('elementId', elementId) }}
{{ hiddenInput('draftId', draftId) }}
{{ hiddenInput('fieldHandle', fieldHandle) }}

<h2>Existing Content</h2>

<table>
    {% for element in elements %}
        <tr>
            <td><input type="checkbox" name="elements[]" value="{{ element.id }}" /></td>
            <td>{{ element.title }}</td>
        </tr>
    {% endfor %}
</table>
